@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,900&display=swap");

.font {
  font-family: poppins;
  font-weight: 500;
}
.font-size {
  font-size: 13px;
}
.img-profile {
  width: 150px;
}
.gaps {
  gap: 50px;
}
.widths {
  width: 50rem;
}
.bgColor {
  background-color: #86b7fe;
}
.border {
  border-bottom: 1px solid #dee2e6;
}
.canvas {
  width: 13px;
  height: 13px;
  background-color: rgb(7, 182, 1);
  border-radius: 50px;
  border: 1px solid rgba(61, 61, 61, 0.514);
}
.width-ol {
  width: 120px;
}
