@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,900&display=swap");

.font {
  font-family: poppins;
  font-weight: 500;
}
.font-size {
  font-size: 13px;
}
.img-profile {
  width: 150px;
}
.gaps {
  gap: 50px;
}
.widths {
  width: 50rem;
}
.mins {
  min-height: 500px;
}
.bgColor {
  background-color: #86b7fe;
}
.border {
  border-bottom: 1px solid #dee2e6;
}
.canvas {
  width: 13px;
  height: 13px;
  background-color: rgb(7, 182, 1);
  border-radius: 50px;
  border: 1px solid rgba(61, 61, 61, 0.514);
}
.width-ol {
  width: 120px;
}

.cursor {
  cursor: pointer;
}

.hover-bg {
  background: #ffffff;
}
.click-bg {
  background: #86b7fe;
  height: 49px;
  height: 49px;
  display: flex;
  align-items: center;
  padding-left: 17px !important;
}

.f-22 {
  font-size: 22px;
  font-weight: 900 !important;
  margin: 0px !important;
  text-decoration: underline;
}
.f-18 {
  font-size: 18px;
  font-weight: 500;
  margin: 0px !important;
}

.width-bt {
  width: 68px;
}
