.div-cont-login {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  height: 350px;
  gap: 50px;
}
.title {
  width: 500px;
  height: 415px;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}

.enter {
  margin: auto;
  background-color: #86b7fe;
  border-color: #86b7fe;
}
.enter:hover {
  margin: auto;
  background-color: #86b7fe;
  border-color: #86b7fe;
}
.text {
  text-decoration: underline;
  color: rgb(75, 149, 235);
}
